.navbar{

  background-color: #FFF;

  /*border-color: rgb(0, 43, 160);

  border-style:solid;

  border-width:medium;*/

  /*border-radius: 10px;
*/
}
.box {
  min-height: 200px;
  padding: 2px;
  margin: 2px;
  font-weight: 800;
 /*color: #fff;*/
  border-width: 1px;
  border-color: #DDD;
  border-style: dashed;
}

/*
@media (max-width: 767px) {

  .container-fluid {

    background-color: #00A090;

  }

  .navbar-toggle {

    background-color: #FFF;

  }

  .navbar-nav{

    background-color: #FFF;

    border-radius: 10px;

  }

}
*/




.navbar-brand{

  background-color: #00A090 !important;

  color:white !important;
  margin-left: 100% !important;
}



body {

  background-color: #DDD;

  margin-bottom: 60px;

}



hr {

  background-color: rgb(202, 209, 208);

  height: 1px;

}



.center {

  display: block;

  margin-left: auto;

  margin-right: auto;

  width: 50%;

}





.container{

  background-color: #FFF;
  
  border-radius: 2px;

}



.clear{

  background-color: #DDD;

}



.footer {

  position:fixed;

  bottom:0;

  display:inline-block;

  width: 100%;

}



.footer .container{

  background-color: #BBB;

  border-width:thin;

  border-style: solid;

  border-color: #00A090;
  text-align: center;
}



.thumbnail:hover{

  border-color:#00A090 !important;

}





.active{

  border-width: medium;

  border-style: solid;

  border-color: #00A090 !important;

  font-weight: bold !important;

  margin:-3px;

}





